{% extends "base.html" %}
{% block title %}info{% endblock %}
{% block content %}
<p class="text1"> coś o mnie: </p>
	<p class="text2"> <h2> zainteresowania: </h2></p>
	  <ul>
		{% for item in items %}
		  <li>{{item}}</li>
		  {% endfor %}
	  </ul>
	<br>
	<p> wiadomość do mnie: </p>
	<form action="/contact" method="post" cols="6" rows ="1" >
	<textarea name="message" cols="50" rows="6" autocomplete=off message="message" maxlenght="500">
	</textarea>
	<button>
	  Wyślij
	</button>
	</form>
	<a href="base"> powrót do strony głównej - kliknij tutaj</a>
  {% endblock %}

